
body {

   padding: 0;
   margin: 0;
   color: #626262;
   font-family: 'Sanchez', serif;
   background-color: #000019;
   font-size: 15px;
}

.drop-zone {
	/* width: 100%; */
  /* height: 100%; */
  /* background-image: url("../images/draggable1.svg"); */
  background-repeat: no-repeat;
   height: 4.446rem;
  border: thin dashed white;
  /* float: left; */
	position: relative;
}


.drop-zone img {
	width: 100% !important;
	float: none;
	position: absolute;
	padding: 0;
}


.bgColor{
   background-image: url("../images/draggable1.svg");
   height: 5rem;
   background-color: #888888;
}

   .hidden {
       display: none;
   }

   .boxColor {
      background-color: #e6e6e6;
      height: 5.5rem;
      width: 5.5rem;
   }

   div h2 {
      color: #e6e6e6;
      align-items: center;
   }
@supports (grid-area: auto) {

      .site {
         max-width: none;
      }

      /*------------ Grid Items ------------*/

      .head, .main > *, .foot {
         display: grid;
			grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
      }
      
      .one-item {
         display: grid;
         grid-column: 2 / span 2;
         grid-template-columns: 1fr;
      }

      .two-items {
         display: grid;
         grid-column: 2 / span 2;
         grid-template-columns: repeat(2, 1fr);
         justify-content: space-evenly;
         row-gap: 2em;
         column-gap: 2em;
      }

      .three-items {
         display: grid;
         grid-column: 2 / span 2;
         grid-template-columns: repeat(3, 1fr);
         justify-content: space-evenly;
         row-gap: 2em;
         column-gap: 2em;
      }

      .eight-items {
         display: grid;
         grid-column: 2 / span 2;
         grid-template-columns: repeat(8, 1fr);
         justify-items: center
         row-gap: 1em;
         column-gap: 3em;
      }


      header {
         position: sticky;
         background-color: #fff;
         top: 0px;
         border-bottom: 1px solid #e6e6e6;
         box-shadow: 0px 5px 8px #888888
      }



